.jsx {
    padding: 10vh;
    background-color: rgb(206, 91, 190);
    text-align: center;
    color: white;
}

.obrazek4 {
    height: auto;
    width: 100%;
}

.obrazek7 {
    height: auto;
    width: 60%;
}

.obrazek8 {
    height: auto;
    width: 100%;
}

.obrazek9 {
    height: auto;
    width: 45%;
}
.obrazek10 {
    height: auto;
    width: 90%;
}
